beautifulsoup4==4.12.3
bs4==0.0.2
build==1.1.1
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
docutils==0.20.1
greenlet==3.0.3
idna==3.6
importlib_metadata==7.0.2
jaraco.classes==3.3.1
keyring==24.3.1
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.2.0
nh3==0.2.15
numpy==1.26.4
packaging==24.0
pkginfo==1.10.0
Pygments==2.17.2
pyproject_hooks==1.0.0
pywin32-ctypes==0.2.2
readme_renderer==43.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.28
StackAPI==0.3.0
twine==5.0.0
typing_extensions==4.10.0
urllib3==2.2.1
zipp==3.18.1
